/*
    Group 21
	Author: Jeremy Power
	Filename: crush.css
    Date: September 20 2017
    
	This is the cascading stylesheet for the Group 21
    'Campus Crush' website for WEBD-3201.
*/

body {
	background-color: #f7f7f7;
	color: #73ba44;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}

.btn {
  background: #11b859;
  background-image: -webkit-linear-gradient(top, #11b859, #2b6ab8);
  background-image: -moz-linear-gradient(top, #11b859, #2b6ab8);
  background-image: -ms-linear-gradient(top, #11b859, #2b6ab8);
  background-image: -o-linear-gradient(top, #11b859, #2b6ab8);
  background-image: linear-gradient(to bottom, #11b859, #2b6ab8);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  -webkit-box-shadow: 2px 3px 3px #666666;
  -moz-box-shadow: 2px 3px 3px #666666;
  box-shadow: 2px 3px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #2b6ab8;
  background-image: -webkit-linear-gradient(top, #2b6ab8, #0866d1);
  background-image: -moz-linear-gradient(top, #2b6ab8, #0866d1);
  background-image: -ms-linear-gradient(top, #2b6ab8, #0866d1);
  background-image: -o-linear-gradient(top, #2b6ab8, #0866d1);
  background-image: linear-gradient(to bottom, #2b6ab8, #0866d1);
  text-decoration: none;
}

p {
	font-style: italic;
   font-family: inherit;
}

img {
	width: 50%;
}

th {
	padding: 10px;
}

textarea {
   font-family: inherit;
   font-size: inherit;
}

form {
	padding-left:10%;
	padding-right:10%;
	text-align: left;
}

table{
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: none;
	text-align: left;
	width: 100%;
}

caption {
	padding: 10px;
	font-size: 24px;
}

a {
	font-size: 20px;
}

hr {
	width: 100%;
}

a:link {
	color: #285C9B;
	text-decoration: none;
}
a:visited {
	color: #285C9B;
	text-decoration: none;
}
a:hover {
	color: #285C9B;
	text-decoration: none;
}
a:active {
	color: #73ba44;
	text-decoration: none;
}

em {
	font-size: 40pt;
	font-style: normal;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}

.tt1 {
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.inside-tables tr{
	background-color: #73ba44;
}

#container
{
	width: 100%;
	height:100%;
	/* padding-left: 10%; */
	/* padding-right:10%; */
	background: #f7f7f7;
}

#header
{
	background: #4A7C59;
	padding: 2% 8% 2% 8%;
	height: 10%;
}

#header h1
{ 
	margin: 0 2% 0 2%;
	display: inline;
	color: #285C9B;
}

#header .ccmain
{
	font-size: 34pt;
	font-style: bold;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}

#header img
{ 
	vertical-align: middle;
	width: 150px;
}

#sites
{
	float: left;
	background: #73D45F;
	padding: 0 10% 0 10%;
	font-size:20px;
	color: #285C9B;
}

#sites a
{
	background: #73D45F;
}


#navigation
{
	clear: left;
	float: left;
	width: 240px;
	padding: 10px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#navigation h3 
{ 
	margin: 0 0 0 10px; 
}

#content-container
{
	/* float: left; */
	height: 100%;
	width:80%;
	background-color: #f7f7f7;
	display: inline;
}

#content
{
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 0 5% 0;
	display: inline;
	height: 80%;
}

#content h2 
{ 
	margin: 0; 
}

#footer
{
	clear: both;
    background: #4A7C59;
    text-align: center;
    padding: 20px 20px 20px 20px;
    height: 2%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
	box-sizing:initial;
}

#footer img
{
	vertical-align: middle;
}