/*
    Group 21
	Author: Jeremy Power
	Filename: crush.css
    Date: September 20 2017
    
	This is the cascading stylesheet for the Group 21
    'Campus Crush' website for WEBD-3201.
*/

body {
	background-color: #f7f7f7;
	color: #73ba44;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	line-height: 1.4 !important; 
}

.btn {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width:80px;
  height:35px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
	font-style: italic;
   font-family: inherit;
}

img {
	width: 50%;
}

th {
	padding: 10px;
}

textarea {
   font-family: inherit;
   font-size: inherit;
}

form {
	width: 80%;
	padding-left:10%;
	padding-right:10%;
	text-align: left;
}

table{
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: none;
	text-align: left;
	width: 100%;
}

caption {
	padding: 10px;
	font-size: 24px;
}

a {
	font-size: 20px;
}

hr {
	width: 100%;
}

a:link {
	color: #285C9B;
	text-decoration: none;
}
a:visited {
	color: #285C9B;
	text-decoration: none;
}
a:hover {
	color: #285C9B;
	text-decoration: none;
}
a:active {
	color: #73ba44;
	text-decoration: none;
}

em {
	font-size: 40pt;
	font-style: normal;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}

table{
	width:100%;
}

.tt1 {
	font-size: 18pt;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.inside-tables tr{
	background-color: #73ba44;
}

#container
{
	width: 100%;
	height:100%;
	background: #f7f7f7;
}

#header
{
	background: #4A7C59;
	padding: 2% 8% 2% 8%;
	height: 10%;
}

#header h1
{ 
	margin: 0 2% 0 2%;
	display: inline;
	color: #285C9B;
}

#header .ccmain
{
	font-size: 34pt;
	font-style: bold;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	display:inline-block;
}

#header img
{ 
	vertical-align: middle;
	width: 150px;
}

#sites
{
	float: left;
	background: #73D45F;
	padding: 0 10% 0 10%;
	font-size:20px;
	color: #285C9B;

}

#sites a
{
	background: #73D45F;
}


#navigation
{
	clear: left;
	float: left;
	width: 240px;
	padding: 10px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#navigation h3 
{ 
	margin: 0 0 0 10px; 
}

#content-container
{
	height: 100%;
	width:80%;
	background-color: #f7f7f7;
	display: inline;
}

#content
{
	float: left;
	width: 100%;
	text-align: center;
	display: inline;
}

#content h2 
{ 
	margin: 0; 
}

#content img .index
{
	min-height:400px;
	min-width: 800px;
	overflow:hidden;
}

#footer
{
	clear: both;
    background: #4A7C59;
    text-align: center;
    padding: 20px 20px 20px 20px;
    height: 2%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
	box-sizing:initial;
}

#footer img
{
	vertical-align: middle;
}